<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Todo App{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'todo_list' %}">Todo List</a></li>
            <li><a href="{% url 'todo_create' %}">Create Todo</a></li>
            {% if user.is_authenticated %}
                <li>Welcome, {{ user.username }}!</li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <hr />

    {% block content %}
    {% endblock %}
</body>
</html>
