{% extends 'todo/base.html' %}
{% block content %}
<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
</style>
<div class="container mt-5" style="max-width: 40vw;">
    {% if request.user.is_authenticated %}
        <form method="POST" enctype="multipart/form-data" class="p-4 bg-white rounded shadow-sm">
            <h2 class="mb-4">Todo 생성하기</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Create</button>
        </form>
    {% endif %}
</div>
{% endblock %}
