{% extends 'todo/../base.html' %}

{% block title %}Todo List{% endblock %}

{% block content %}
<div style="display: flex; justify-content: space-between">
    {% if not request.user.is_staff %}
        <h1>{{ request.user.username }}'s Todo List</h1>
    {% else %}
        <h1>All To Do List (By. Admin)</h1>
    {% endif %}
    <button class="create-button" onclick="location.href='{% url 'cbv_todo_create' %}'">생성하기</button>
</div>

<hr>

{% if object_list %}
    <ul>
        {% for todo in object_list %}
            <li>
                <a href="{% url 'cbv_todo_info' todo.id %}">{{ todo.title }}</a>
                {% if todo.is_completed %}
                    <span style="color: green;">(완료)</span>
                {% else %}
                    <span style="color: red;">(미완료)</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>등록된 Todo가 없습니다.</p>
{% endif %}

{% if is_paginated %}
    <div>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">이전</a>
        {% endif %}

        <span>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">다음</a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}
